<div *ngIf="this.settingsService.aboutVisible" class="about-panel">
  <a href="#" class="close-button" (click)="close()"></a>
   
   <div *ngIf="lang==='en'" class="about-title-container">THE COLORS OF NEW YORK CITY</div>
   <div *ngIf="lang==='fr'" class="about-title-container">LES COULEURS DE NEW YORK CITY</div>

    <div class="about-lang-container">
      <span [class.selected]="lang==='en'" (click)="setEn()">EN</span>
      |
      <span [class.selected]="lang==='fr'" (click)="setFr()">FR</span>
    </div>

   <div *ngIf="lang==='en'" class="about-content-container">
    <div class = "about-introduction">
      <p class = "about-subcontent">
        550 colors = 550 pictures = 550 days from July 2016 to December 2017.<br />
        Photography project by <a href="https://agreffard.github.io">Aurélien Greffard</a>.
      </p>
      
      <p class = "about-subcontent">
        Iphone SE / Canon 550D<br />
        Mostly from New York City<br />
        Always from the heart
      </p>
      
      <p class = "about-subcontent">
        For a more classical view of the pictures, visit: <a href="https://agreffard-nyc.tumblr.com">https://agreffard-nyc.tumblr.com</a>
      </p>
    </div>

    <div class="about-subcontent-title">PROJECT AND EVOLUTION</div>
      <p class = "about-subcontent">
        Originally this project was mainly a way to give news to friends and relatives while living abroad. Most of the pictures from the first months are related to my own environment or my activities.
      </p>
      <p class = "about-subcontent">
        Little by little though, I developed a real taste for photography and especially street photography, with a turning point around mid-May 2017.
        I started to focus on New Yorkers, trying to approach interesting people in their environment.
        Months later and for the end of the project, I tried to step aside and capture true life moments.
      </p>

      <p class = "about-subcontent">
        Overall, this project is an attempt to capture the spirit and flavor of New York City as a social documentary, at least through my personal experience.
      </p>

      <div class="about-subcontent-title">INSPIRATION</div>
     
      <p class = "about-subcontent">
        During the last months I started to follow the work of a lots of photographers, famous or unknown...
      </p>
      <p class = "about-subcontent">
        A few of them directly influenced my work, including:
      </p>
        <ul class = "about-subcontent">
            <li>Brian Karlsson - <a href="https://www.instagram.com/voyeur1/">@voyeur1</a></li>
            <li>Nicolas Heller - <a href="https://www.instagram.com/newyorknico/">@newyorknico</a></li>
            <li>Bryan Stokely - <a href="https://www.instagram.com/bstoke/">@bstoke</a></li>
            <li>Brandon Stanton - <a href="http://www.humansofnewyork.com/">Humans of New York</a></li>
        </ul>
  </div>

  <div *ngIf="lang==='fr'" class="about-content-container en">
      
      <div class = "about-introduction">
      <p class = "about-subcontent">
        550 couleurs = 550 photos = 550 jours entre juillet 2016 et décembre 2017.<br />
        Projet photo par <a href="https://agreffard.github.io">Aurélien Greffard</a>.
      </p>
      
      <p class = "about-subcontent">
        Iphone SE / Canon 550D<br />
        Princalement depuis New York City<br />
        Toujours venant du coeur
      </p>
      
      <p class = "about-subcontent">
        Pour une vue plus classique des photos, visitez : <a href="https://agreffard-nyc.tumblr.com">https://agreffard-nyc.tumblr.com</a>
      </p>
    </div>
    <div class="about-subcontent-title">PROJET ET ÉVOLUTION</div>

      <p class = "about-subcontent">
        A l'origine ce projet était essentiellement un moyen de donner des nouvelles à mes proches pendant que je vivais à l'étranger. La plupart des photos des premiers mois représentent mon propre environnement ou mes activités.
      </p>
      <p class = "about-subcontent">
        Petit à petit cependant, j'ai développé un vrai intérêt pour la photographie et particulièrement pour la photographie de rue ("street photography"), avec un point tournant autour de mi-mai 2017.
        Je me suis focalisé sur les new yorkais, allant à la rencontre de personnes originales/atypiques et de leur environnement.
        Quelques mois plus tard et pour la fin du projet, j'ai essayé de m'effacer le plus possible pour capturer de vrais moments de vie autour de moi.
      </p>

      <p class = "about-subcontent">
        Globalement, ce projet a pour but final de capturer l'esprit et la saveur de New York City en tant que documentaire social, au moins à travers mon expérience personnelle.
      </p>

      <div class="about-subcontent-title">INSPIRATION</div>
     
      <p class = "about-subcontent">
        Durant les derniers mois j'ai suivi le travail de nombreux photographes, connus ou non...
      </p>
      <p class = "about-subcontent">
        Quelques-uns ont directement influencé mon travail, dont :
      </p>
        <ul class = "about-subcontent">
            <li>Brian Karlsson - <a href="https://www.instagram.com/voyeur1/">@voyeur1</a></li>
            <li>Nicolas Heller - <a href="https://www.instagram.com/newyorknico/">@newyorknico</a></li>
            <li>Bryan Stokely - <a href="https://www.instagram.com/bstoke/">@bstoke</a></li>
            <li>Brandon Stanton - <a href="http://www.humansofnewyork.com/">Humans of New York</a></li>
        </ul>
  </div>
</div>
