
<div class="mainContainer">
  
  <div class="stripes" (click)="clickOnMainContainer($event)">
    <div *ngFor="let stripe of stripes"
    [class.selected]="stripe === selectedStripe"
    [ngStyle]="getStyle(stripe)"
    (click)="onMouseClick(stripe)"
    (mouseover)="onMouseOver(stripe)"
    (mouseout)="onMouseOut()">
      <!-- <img *ngIf="stripe === previewStripe" [src]="getUrl(stripe)" class="preview-image-square"/> -->
   <!-- <img [src]="getUrl(stripe)" />  -->
      <!--<span>{{stripe.id}}</span> {{stripe.text | uppercase}} - {{stripe.color}}-->
    </div>
  </div>

  <div
    [@stripeDetailsVisibility]="selectionShown"
    (@stripeDetailsVisibility.done)="stripeDetailAnimationDone()">
    <app-stripe-detail
    [stripe]="selectedStripe"
    (goToStripe)="selectStripe($event)"
    ></app-stripe-detail>
  </div>

</div>

