<div *ngIf="stripe && stripeService.detailVisible" class="stripe-detail">
  <a href="#" class="close-button" (click)="stripeService.hideDetail()"></a>
  <div class="stripe-detail-img-container" [class.vertical]="isVertical()">
    <div *ngIf="stripe.id!==0"
    class="arrow left"
    (click)="previous()"></div>
    <img [src]="getUrl(stripe)" />
    <div *ngIf="stripe.id!==549"
    class="arrow right"
    (click)="next()"></div>
  </div>
  <div class="stripe-info" [class.vertical]="isVertical()">
    <div [class.vertical]="isVertical()" class="preview-color">
      <div [ngStyle]="getCircleColorStyle(stripe)" class="preview-color-circle"></div>
      <div class="preview-color-color">
        <span>Color n°{{stripe.id+1}}</span><br />
        <span>{{stripe.color}}</span>
      </div>
    </div>
    <div class="stripe-text" [class.vertical]="isVertical()">{{stripe.text}}</div>
  </div>
</div>
