<div *ngIf="stripe && stripeService.detailVisible" class="stripe-detail">
  <a href="#" class="close-button" (click)="stripeService.hideDetail()"></a>
  <div class="stripe-detail-img-container">
    <img [src]="getUrl(stripe)" />
  </div>
  <div class="stripe-info">
    <div class="preview-color">
      <div [ngStyle]="getPreviewColorStyle(stripe)" class="preview-color-circle"></div>
      <div class="preview-color-color">
        <span>Color n°{{stripe.id+1}}</span><br />
        <span>{{stripe.color}}</span>
      </div>
    </div>
    <div class="stripe-text">{{stripe.text | uppercase }}</div>
  </div>
</div>
