/* Application-wide Styles */

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body, .mainContainer {
  height: 100vh;
  width: 100%;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}

a {
  color: #5e84b0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.exit-button {
	position: relative;
	top: 10px;
	right: 10px;
	text-align: right;
}

.stripes {
  width: 100%;
  height: 100vh;
  display: grid;
  background-color: #1a1a1a;
  /*grid-gap: 10px;
  padding: 10px;*/
}

.stripe-detail, .about-panel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: #1a1a1a;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}

.about-title-container {
  width: 100%;
  height: 6vh;
  line-height: 6vh;
  text-align: center;
  vertical-align: middle;
  font-size: 3vh;
}

.about-lang-container {
  text-align: center;
  font-size: 1.6vh;
  height: 2vh;
  line-height: 2vh;
}

.about-lang-container span {
  cursor: pointer;
}

.about-lang-container span.selected {
  font-weight: bold;
  /*font-size: 1.6vh;*/
}

.about-introduction {
  text-align: center;
  border: 1px solid #444;
  width: 80%;
  margin: 20px auto 30px auto;
  /*background-color: #181818;*/
}

.about-content-container {
  overflow: auto;
  width: 100%;
  height: calc(100% - 8vh);
  font-size: 2.1vh;
}

ul.about-subcontent {
  margin-left: 50px;
}

.about-subcontent-title, .about-subcontent {
  margin: 20px;
}

.about-subcontent-title {
  margin-top: 35px;
  text-align: center;
}


.stripe-detail-img-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.stripe-detail-img-container:not(.vertical) {
  height: 90%;
}

.stripe-detail-img-container.vertical {
  height: 80%;
}

.stripe-detail img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
}

.stripe-info:not(.vertical) {
  height: 10%;
  display: flex;
  align-items: center;
}

.stripe-info.vertical {
  height: 10%;
  display: block;
}

.preview-color {
	display: flex;
  height: 100%;
  align-items: center;
}

.preview-color:not(.vertical) {
  width: 30%;
}

.preview-color.vertical{
  width: 180px;
  margin: auto;
}

.preview-color-color span, .stripe-text {
  font-size: 2.1vh;
}

.stripe-text {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.stripe-text:not(.vertical) {
  width: 70%;
}

.stripe-text:vertical {
  width: 100%;
}

.settings-container {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  width: 255px;
  height: 0px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.settings-container.hidden {
  position: absolute;
  top: -1000px;
}

.settings-button {
	display: block;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	margin: 5px;
	grid-row: 1;
  background-color: #bbbbbb;
  cursor: pointer;
  background-clip: content-box;
}

.settings-button img {
  position: relative;
  top: -2px;
  left: -2px;
}

.settings-button.selected {
  background-color: #5e84b0;
}

.settings-button.selected:hover {
  background-color: #8aa8cc;
}

.settings-button:hover {
  background-color: #d5d5d5;
}

.settings-button1 {
  grid-column: 1;
}

.settings-button2 {
  grid-column: 2;
}

.settings-button3 {
  grid-column: 3;
}

.settings-button4 {
  grid-column: 4;
}

.settings-button5 {
  grid-column: 5;
}

.settings-button6 {
  grid-column: 6;
}

.close-button {
  position: fixed;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  opacity: 0.6;
}

.close-button:hover {
  opacity: 1;
}

.close-button:before, .close-button:after {
  position: absolute;
  left: 10px;
  content: ' ';
  height: 21px;
  width: 2px;
  background-color: #444;
}

.close-button:before {
  transform: rotate(45deg);
}

.close-button:after {
  transform: rotate(-45deg);
}


::-webkit-scrollbar {
  width: 8px;
  -webkit-border-radius: 100px;

}

::-webkit-scrollbar-thumb:vertical:hover {
  background-color: rgba(68, 68, 68, 1);
}

::-webkit-scrollbar-thumb:vertical {
  background-color: rgba(68, 68, 68, 0.6);
  -webkit-border-radius: 100px;
  /*cursor: pointer;*/
}

::-webkit-scrollbar-thumb:vertical:active {
  background-color: rgba(68, 68, 68, 1);
  -webkit-border-radius: 100px;
}


.arrow {
  overflow: hidden;
  position: relative;
  opacity: 0.6;
  cursor: pointer;
  margin: 10px;
}

.arrow:hover {
  opacity: 1;
}

.arrow.left, .arrow.right {
  width: 20px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.arrow.left {
  left : 0;
}

.arrow.right {
  right: 0;
}

.arrow::before, .arrow::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
}

.arrow.left::before, .arrow.left::after {
  left: 0;
  border-left: solid 2px #444;
}

.arrow.left::before {
  top: -50%;
  transform: rotate(45deg);
  transform-origin: left bottom;
}

.arrow.left::after {
  top: 50%;
  transform: rotate(-45deg);
  transform-origin: left top;
}

.arrow.right::before, .arrow.right::after {
  border-right: solid 2px #444;
  right: 0;
}

.arrow.right::before {
  top: -50%;
  transform: rotate(-45deg);
  transform-origin: right bottom;
}

.arrow.right::after {
  top: 50%;
  transform: rotate(45deg);
  transform-origin: right top;
}
