<div class="settings-container"
[class.hidden]="this.settingsService.hidden"
(mouseover)="onMouseOver()"
(mouseout)="onMouseOut()"
[@visibilityChanged]="this.settingsService.visible"
(@visibilityChanged.done)="visibleAnimationDone()">
	<img class="settings-button settings-button1"
	title="Horizontal mode"
	src="assets/icons/icons-prout7.png"
	[class.selected]="this.settingsService.mode == 'horizontal'"
	(click)="setHorizontal()" />

	<img class="settings-button settings-button2"
	title="Vertical mode"
	src="assets/icons/icons-prout3.png"
	[class.selected]="this.settingsService.mode == 'vertical'"
	(click)="setVertical()" />

	<img class="settings-button settings-button3"
	title="Grid mode"
	src="assets/icons/icons-prout6.png"
	[class.selected]="this.settingsService.mode == 'grid'"
	(click)="setGrid()" />

	<img class="settings-button settings-button4"
	title="Circles mode"
	src="assets/icons/icons-prout2.png"
	[class.selected]="this.settingsService.mode == 'circles'"
	(click)="setCircles()" />

	<img class="settings-button settings-button5"
	title="Preview mode"
	src="assets/icons/icons-prout5.png"
	[class.selected]="this.settingsService.mode == 'preview'"
	(click)="setPreview()" />

	<img class="settings-button settings-button6"
	title="Random image"
	src="assets/icons/icons-prout4.png"
	(click)="clickOnRandom()" />

	<img class="settings-button settings-button7"
	title="About"
	src="assets/icons/icons-prout1.png"
	[class.selected]="this.settingsService.aboutVisible"
	(click)="this.settingsService.clickOnAbout()" />
</div>
