<div class="settings-container"
[class.hidden]="this.settingsService.hidden"
(mouseover)="onMouseOver()"
(mouseout)="onMouseOut()"
[@visibilityChanged]="this.settingsService.visible"
(@visibilityChanged.done)="visibleAnimationDone()">
  <span class="settings-button settings-button1"
		[class.selected]="this.settingsService.mode == 'horizontal'">
		<img title="Horizontal mode"
		src="assets/icons/icons-prout7.png"
		(click)="setHorizontal()" />
	</span>

	<span class="settings-button settings-button2"
		[class.selected]="this.settingsService.mode == 'vertical'">
		<img title="Vertical mode"
		src="assets/icons/icons-prout3.png"
		(click)="setVertical()" />
	</span>

	<span class="settings-button settings-button3"
		[class.selected]="this.settingsService.mode == 'grid'">
		<img title="Grid mode"
		src="assets/icons/icons-prout6.png"
		(click)="setGrid()" />
	</span>

	<span class="settings-button settings-button4"
		[class.selected]="this.settingsService.mode == 'circles'">
		<img title="Circles mode"
		src="assets/icons/icons-prout2.png"
		(click)="setCircles()" />
	</span>

	<span class="settings-button settings-button5"
		[class.selected]="this.settingsService.mode == 'preview'">
		<img title="Preview mode"
		src="assets/icons/icons-prout5.png"
		(click)="setPreview()" />
	</span>

	<span class="settings-button settings-button6">
		<img title="Random image"
		src="assets/icons/icons-prout4.png"
		(click)="clickOnRandom()" />
	</span>

	<span class="settings-button settings-button7"
		[class.selected]="this.settingsService.aboutVisible">
		<img title="About"
		src="assets/icons/icons-prout1.png"
		(click)="this.settingsService.clickOnAbout()" />
	</span>
</div>
