<div class="settings-container"
[class.hidden]="this.settingsService.hidden"
(mouseover)="onMouseOver()"
(mouseout)="onMouseOut()"
[@visibilityChanged]="this.settingsService.visible"
(@visibilityChanged.done)="visibleAnimationDone()">
	<a class="settings-button settings-button1"
	title="Horizontal mode"
	[class.selected]="this.settingsService.mode == 'horizontal'"
	(click)="this.settingsService.setHorizontal()">H</a>

	<a class="settings-button settings-button2"
	title="Vertical mode"
	[class.selected]="this.settingsService.mode == 'vertical'"
	(click)="this.settingsService.setVertical()">V</a>

	<a class="settings-button settings-button3"
	title="Grid mode"
	[class.selected]="this.settingsService.mode == 'grid'"
	(click)="this.settingsService.setGrid()">G</a>

	<a class="settings-button settings-button4"
	title="Circles mode"
	[class.selected]="this.settingsService.mode == 'circles'"
	(click)="this.settingsService.setCircles()">C</a>

	<a class="settings-button settings-button5"
	title="Preview mode"
	[class.selected]="this.settingsService.mode == 'preview'"
	(click)="this.settingsService.setPreview()">P</a>

	<a class="settings-button settings-button6"
	title="About"
	[class.selected]="this.settingsService.aboutVisible"
	(click)="this.settingsService.clickOnAbout()">?</a>
</div>
